<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tytuły</title>

    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>

    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>

<body>
<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <div th:text="${catNumber}"></div>
        </div>
    </div>
</div>
</body>
</html>