<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tytuły</title>

    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>

    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>

<body>
<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <div class="row col-md-12">
                <!-- ---- Tytuł ----------------------------------------------------------------------- -->
                <div class="col-md-6">
                    <form th:action="@{/titles/update/}" th:object="${title}" method="post">
                        <button type="submit" class="btn btn-primary" th:name="id" th:value="*{id}">Zmień
                        </button>
                    </form>
                </div>
                <h1 class="panel-title col-md-6" th:text="${title.name}">Tytuł</h1>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <!-- ---- Okładka ----------------------- -->
                    <img class="info" th:attr="src=@{${title.image}}" width="200px"/>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-12">
                        <!-- ---- Tytuł cd. --------------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.titleSecondPart} != null and !${title.titleSecondPart.isEmpty()}"
                               th:text="|#{title.titleSecondPart}: ${title.titleSecondPart}|">Tytuł</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- ---- Autorzy --------------------- -->
                        <div class="form-group" th:if="${title.authors} != null and !${title.authors.isEmpty()}">
                            <span class="control-label" th:text="|#{title.authors}: |">Autorzy</span>
                            <span>
                                <a th:each="author: ${title.authors}" th:href="@{/authors/{name}(name=${author})}"
                                   th:text="|${author} |">Autorzy</a>
                            </span>
                        </div>
                        <!-- ---- Tagi --------------------- -->
                        <div class="form-group" th:if="${title.tags} != null and !${title.tags.isEmpty()}">
                            <span class="control-label" th:text="|#{title.tags}: |">Tagi</span>
                            <span>
                                <a th:each="tag: ${title.tags}" th:href="@{/tags/show/{id}(id=${tag.id})}"
                                   th:text="|${tag.name} |">tagi</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- ---- Id ---------------------------- -->
                        <div class="form-group">
                            <p class="control-label" th:if="${title.id} != null"
                               th:text="|#{title.id}: ${title.id}|">ID</p>
                        </div>
                        <!-- ---- Ilość stron ------------------- -->
                        <div class="form-group">
                            <p class="control-label" th:if="${title.numberOfPages} != null"
                               th:text="|#{title.numberOfPages}: ${title.numberOfPages}|">Tytuł</p>
                        </div>
                        <!-- ---- ISBN ------------- -->
                        <div class="form-group">
                            <p class="control-label" th:if="${title.isbn} != null"
                               th:text="|#{title.isbn}: ${title.isbn}|">ISBN</p>
                        </div>
                        <!-- ---- Sekcja ------------- -->
                        <div class="form-group" th:if="${title.section} != null">
                            <span class="control-label" th:text="|#{title.section}: |"></span>
                            <span>
                                <a th:href="@{/sections/show/{id}(id=${title.section.id})}"
                                   th:text="${title.section}">Sekcja</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- ---- Numer katalogowy -------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.catNumber} != null"
                               th:text="|#{title.catNumber}: ${title.catNumber}|">Tytuł</p>
                        </div>
                        <!-- ---- Rok wydania ------------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.releaseYear} != null and !${title.releaseYear.isEmpty()}"
                               th:text="|#{title.releaseYear}: ${title.releaseYear}|">Tytuł</p>
                        </div>
                        <!-- ---- Kiedy przeczytana ------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.whenRead} != null and !${title.whenRead.isEmpty()}"
                               th:text="|#{title.whenRead}: ${title.whenRead}|">Tytuł</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- ---- Wydawca ----------------------- -->
                        <div class="form-group" th:if="${title.editor} != null and !${title.editor.name.isEmpty()}">
                            <span class="control-label" th:text="|#{title.editor}: |">Wydawca</span>
                            <span>
                                 <a th:href="@{/editors/show/{id}(id=${title.editor.id})}"
                                    th:text="${title.editor}">Wydawca</a>
                            </span>
                        </div>
                        <!-- ---- Tytuł oryginalny -------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.originalTitle} != null and !${title.originalTitle.isEmpty()}"
                               th:text="|#{title.originalTitle}: ${title.originalTitle}|">Tytuł</p>
                        </div>
                        <!-- ---- Tłumacze --------------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.translators} != null and !${title.translators.isEmpty()}"
                               th:text="|#{title.translators}: ${title.translators}|">Tłumacze</p>
                        </div>
                        <!-- ---- Formaty --------------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.formats} != null and !${title.formats.isEmpty()}"
                               th:text="|#{title.formats}: ${title.formats}|">Formaty</p>
                        </div>
                        <!-- ---- Link -------------------------- -->
                        <div class="form-group">
                            <p class="control-label" th:if="${title.link} != null and !${title.link.isEmpty()}"
                               th:text="|#{title.link}: ${title.link}|">Tytuł</p>
                        </div>
                        <!-- ---- Rating ------------- -->
                        <div class="form-group">
                            <p class="control-label" th:if="${title.rating} != null"
                               th:text="|#{title.rating}: ${title.rating}|">Rating</p>
                        </div>
                        <!-- ---- Notes ------------- -->
                        <div class="form-group">
                            <p class="control-label"
                               th:if="${title.notes} != null and !${title.notes.isEmpty()}"
                               th:text="|#{title.notes}: ${title.notes}|">Notes</p>
                        </div>

                        <!--                        &lt;!&ndash; &#45;&#45;&#45;&#45; Overtitle &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
                        <!--                        <div class="form-group">-->
                        <!--                            <p class="control-label"-->
                        <!--                               th:if="${title.overtitle} != null and !${title.overtitle.title.isEmpty()}">-->
                        <!--                                <a th:href="@{/titles/{title}/show (title=${title.overtitle.title})}"-->
                        <!--                                   th:text="|#{title.overtitle}: ${title.overtitle.title}|">Overtitle</a>-->
                        <!--                            </p>-->
                        <!--                        </div>-->
                        <!--                        &lt;!&ndash; &#45;&#45;&#45;&#45; Subtitles &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
                        <!--                        <div class="form-group">-->
                        <!--                            <p class="control-label"-->
                        <!--                               th:if="${title.subtitles} != null and !${title.subtitles.isEmpty()}"-->
                        <!--                               th:text="|#{title.subtitles}: ${title.subtitles}|">Tytuł</p>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <!-- ---- Review ------------- -->
                <div class="form-group">
                    <p class="control-label" th:if="${title.review} != null"
                       th:text="|#{title.review}: ${title.review}|">Review</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>