<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tytuł - wprowadzanie</title>


    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>

    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>

</head>
<body>
<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <form class="form-horizontal" th:object="${title}" th:action="@{/titles/add-new-title}" method="post">
                <!--------------------- ID ----------------------- -->
                <input type="hidden" class="form-control" th:field="*{id}"/>
                <!--------------------- Tytuł ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Tytuł:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </div>
                </div>
                <!--------------------- Nadtytuł ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Nadtytuł:</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="${title.overtitle}">
                            <option value="">Wybierz</option>
                            <option th:each="title : ${titles}" th:value="${title.id}"
                                    th:text="${title.name}"></option>
                        </select></div>
                </div>
                <!--------------------- Sekcja ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Sekcja:</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="*{section}">
                            <option value="">Wybierz</option>
                            <option th:each="section : ${sections}" th:value="${section.id}"
                                    th:text="${section.name}"></option>
                        </select></div>
                </div>
                <!--------------------- Numer katalogowy ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Numer katalogowy:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{catNumber}"/>
                    </div>
                </div>
                <!--------------------- Autorzy ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Autorzy:</label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                id="multiSelectElementsSelected"
                                name="multiSelectElementsSelected"
                                multiple="multiple"
                                th:field="${title.authors}">
                            <option value="">Wybierz</option>
                            <option th:each="author : ${authors}"
                                    th:value="${author.id}"
                                    th:text="|${author.lastName} ${author.firstName}|">
                            </option>
                        </select>
                    </div>
                </div>
                <!--------------------- Tagi ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Tagi:</label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                id="multiSelectElementsSelectedTag"
                                name="multiSelectElementsSelectedTag"
                                multiple="multiple"
                                th:field="${title.tags}">
                            <option value="">Wybierz</option>
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.id}"
                                    th:text="${tag.name}">
                            </option>
                        </select>
                    </div>
                </div>
                <!--------------------- Wydawca ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Wydawnictwo:</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="${title.editor}">
                            <option value="">Wybierz</option>
                            <option th:each="editor : ${editors}" th:value="${editor.id}"
                                    th:text="${editor.name}"></option>
                        </select>
                    </div>
                </div>
                <!--------------------- Isbn ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Isbn:</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="${title.isbn}">
                            <option value="">Wybierz</option>
                            <option th:each="isbn : ${isbns}" th:value="${isbn.id}"
                                    th:text="${isbn.isbnNumber}"></option>
                        </select>
                    </div>
                </div>
                <!--------------------- Tytuł cd. ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Tytuł cd.:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{titleSecondPart}"/>
                    </div>
                </div>
                <!--------------------- Tytuł oryginalny ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Tytuł oryginalny:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{originalTitle}"/>
                    </div>
                </div>
                <!--------------------- Ilość stron ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Ilość stron:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{numberOfPages}"/>
                    </div>
                </div>
                <!--------------------- Rok wydania ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Rok wydania:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{releaseYear}"/>
                    </div>
                </div>
                <!--------------------- Notes ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Notatki - uwagi:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{notes}"/>
                    </div>
                </div>
                <!--------------------- Review ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Review:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{review}"/>
                    </div>
                </div>
                <!--------------------- Link ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Link:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{link}"/>
                    </div>
                </div>
                <!--------------------- Kiedy przeczytane ----------------------- -->
                <div class="row form-group">
                    <label class="col-sm-2 control-label">Kiedy przeczytane:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{whenRead}"/>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Zapisz"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>