<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>

    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>
    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <form class="form-horizontal" th:object="${author}" th:action="@{/authors/add-new-author}" method="post">
                <input type="hidden" class="form-control" th:field="*{id}"/>
                <!--------------------- Imię ----------------------- -->
                <div class="form-group row col-sm-12">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" th:text="#{author.firstName}"
                               th:field="*{firstName}"/>
                    </div>
                    <!--------------------- Nazwisko ----------------------- -->
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:text="#{author.lastName}"
                               th:field="*{lastName}"/>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default">Zapisz</button>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th style="width: 150px;">Imię</th>
                    <th style="width: 150px;">Nazwisko</th>
                </tr>
                <tr th:each="author : ${authorsWhoseFirstNameContainsString}">
                    <td th:text="${author.firstName}">Brak imienia</td>
                    <td>
                        <a th:href="@{/authors/show/{id}(id=${author.id})}" href="index.html"
                           th:text="${author.lastName}">Brak
                            Nazwiska</a>
                    </td>
                </tr>
                <tr th:each="author : ${authorsWhoseLastNameContainsString}">
                    <td th:text="${author.firstName}">Brak imienia</td>
                    <td>
                        <a th:href="@{/authors/show/{id}(id=${author.id})}" href="index.html"
                           th:text="${author.lastName}">Brak
                            Nazwiska</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>