<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>

    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>
    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>

<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <table id="authors" class="table table-striped">
                <tr>
                    <th style="width: 150px;">Imię</th>
                    <th style="width: 150px;">Nazwisko</th>
                </tr>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.firstName}">Brak imienia</td>
                    <td>
                        <a th:href="@{/authors/show/{id}(id=${author.id})}" href="index.html"
                           th:text="${author.lastName}">Brak Nazwiska</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>