<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>

    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>
    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <form class="form-horizontal" th:object="${tag}" th:action="@{/tags/add-new-tag}" method="post">
                <input type="hidden" class="form-control" th:field="*{id}"/>
                <!--------------------- Tag ----------------------- -->
                <div class="form-group row col-sm-12">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" th:text="#{tag.name}"
                               th:field="*{name}"/>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default">Zapisz</button>
                    </div>
                </div>
            </form>
            <p class="control-label"
               th:if="${tags} != null and !${tags.isEmpty()}">
                <a th:each="tag: ${tags}" th:href="@{/tags/show/{id}(id=${tag.id})}"
                   th:text="|${tag.name} |">Sekcja</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>