<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>
    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <form class="form-horizontal" th:object="${searchField}" th:action="@{/tags/search-by-string}" method="post">
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Nazwa (lub fragment):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" th:field="*{searchText}"/>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" value="Znajdź lub dodaj"/>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <p class="control-label"
                   th:if="${tags} != null and !${tags.isEmpty()}">
                <table id="tags" class="table table-striped">
                    <tr class="bl" th:each="tag: ${tags}">
                        <td>
                            <a th:href="@{/tags/show/{id}(id=${tag.id})}" href="index.html" th:text="${tag.name}">Tytuł</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>