<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>
</head>
<body>
<h2>Tagi</h2>

<table id="tags" class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">Tag</th>
    </tr>
    <tr th:each="tag : ${tags}">
        <td th:text="${tag.id}">-1</td>
        <td th:text="${tag.name}">Brak imienia</td>
    </tr>
</table>

</body>
</html>