<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>
</head>
<body>
<h2>Lokacje</h2>

<table id="locations" class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">Lokacja</th>
    </tr>
    <tr th:each="location : ${locations}">
        <td th:text="${location.id}">-1</td>
        <td th:text="${location.name}">Brak imienia</td>
    </tr>
</table>

</body>
</html>