<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>

      <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
            th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>

      <script src="../../static/js/jquery-3.3.1.min.js"
              th:src="@{/js/jquery-3.3.1.min.js}"></script>

  </head>

<body>

<div class="row">
    <a th:href="@{/}" href="/">Home</a>
    <a th:href="@{/titles}" href="/titles/">Tytuły</a>
    <a th:href="@{/authors}" href="/authors/">Autorzy</a>
    <a th:href="@{/titles/new-title}" href="/titles/new-title">Dodaj tytuł</a>
    <a th:href="@{/authors/new-author}" href="/authors/new-author">Dodaj autora</a>
    <a th:href="@{/titles/find-title}" href="/titles/find-title">Znajdź tytuł</a>
    <a th:href="@{/authors/find-author}" href="/authors/find-author">Znajdź autora autora</a>
</div>

</body>

</html>
