<div class="row">
    <a th:href="@{/}" href="/">Home</a>
    <a th:href="@{/sections}" href="/sections/">Sekcje</a>
    <a th:href="@{/titles}" href="/titles/">Tytuły</a>
    <a th:href="@{/authors}" href="/authors/">Autorzy</a>
    <a th:href="@{/tags}" href="/tags/">Tagi</a>
    <a th:href="@{/titles/get-new-catNumber}" href="/get-new-catNumber">Znajdź numer katalogowy</a>
    <a th:href="@{/titles/new-title}" href="/titles/new-title">Dodaj tytuł</a>
    <a th:href="@{/authors/search}" href="/authors/search">Poszukaj lub dodaj autora</a>
</div>
