<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>
</head>
<body>
<h2>Tłumacze</h2>

<table id="translators" class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">Imię</th>
        <th style="width: 150px;">Nazwisko</th>
    </tr>
    <tr th:each="translator: ${translators}">
        <td th:text="${translator.id}">-1</td>
        <td th:text="${translator.firstName}">Brak imienia</td>
        <td th:text="${translator.lastName}">Brak nazwiska</td>
    </tr>
</table>

</body>
</html>