<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tytuły</title>

    <link href="../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>
    <script src="../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div class="container-fluid col-6 col-offset-3" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="../static/resources/images/Books-2-icon.png"
                         th:src="@{/resources/images/Books-2-icon.png}"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>