<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>
</head>
<body>
<h2>Formaty</h2>

<table id="formats" class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">Format</th>
    </tr>
    <tr th:each="format : ${formats}">
        <td th:text="${format.id}">-1</td>
        <td th:text="${format.name}">Brak imienia</td>
    </tr>
</table>

</body>
</html>