<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Księgozbiór</title>
</head>
<body>
<h2>Wydawcy</h2>

<table id="editors" class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">Wydawnictwo</th>
    </tr>
    <tr th:each="name : ${editors}">
        <td th:text="${name.id}">-1</td>
        <td th:text="${name.name}">Brak imienia</td>
    </tr>
</table>

</body>
</html>