<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tytuły</title>

    <link href="../../static/css/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.min.css}"/>

    <script src="../../static/js/jquery-3.3.1.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>

<body>
<div class="container-fluid col-8 col-offset-2" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row" th:include="fragments/menu.html">menu</div>
            <h1 class="panel-title" th:text="|${editor.name}  (Editor No. ${editor.id})| ">Wydawca</h1>
            <!-- ---- Tytuły --------------------- -->
            <table id="titles" class="table table-striped">
                <tr>
                    <th>Tytuł</th>
                    <th>Autorzy</th>

                </tr>

                <tr class="bl" th:each="title: ${titles}">
                    <td>
                        <a th:href="@{/titles/show/{id}(id=${title.id})}" href="index.html" th:text="${title.name}">Tytuł</a>
                    </td>
                    <td>
                        <a th:each="author: ${title.authors}" th:href="@{/authors/{name}(name=${author})}" th:text="|${author} |">Autor</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>